.content {
    display: flex;
    font-family: nimbus;
}

.errorDiv {
    position: absolute;
    width: 500px;
    top: 60px;
    right: 0;
}

.leftDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 300px;
    padding-top: 150px;
}

.leftDiv form {
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position:relative;
}

.leftDiv form button {
    width: 99%;
    height: 50px;
}

#closeButton {
    position: absolute;
    font-size: 1.5em;
    top: 8px;
    right: 2px;
}

.rightDiv {
    padding-top: 60px;
    padding-left: 20px;
}

.line {
    margin-top: 15px;
    width: 800px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.233);
}

.produtoSection {
    padding-top: 25px;
    width:1590px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}

.productCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.137);
    width: 375px;
    height: 300px;
    border-radius: 10px;
}

.icons {
    display: flex;
    gap: 15px;
}